html {
  margin: 0;
  box-sizing: border-box;
}
body{
    margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    width: 100%;
  }
}


.Hero {
    background-image: url(../public/first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
}
 
.Contenido-Hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}   

.Contenido-Hero h2 span {
    color: white;
    font-size: 2rem;
}

.Ubicacion p {
    color: white;
    display: flex;
    align-items: center;
}

h1{
    color: white;
    font-size: 60px;
}

span{
    color: white;
}

.Card1{
    background-image: url(../public/mision.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
}

.contenidoCard {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}   

.contenidoCardNoImg {
    background-color: #D6D6D6;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}   

.contCardNo{
    text-align: center;
}

@media (min-width: 768px) {
    .CardsContainer{
        margin-bottom: 20px;
    }
}

.servicio1{
    background-image: url(../public/WhatsApp\ Image\ 2023-11-12\ at\ 10.50.28\ PM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
}




.serviciosFirst{

text-align: center;
}
.servicios2{

color: black;

}


.BgClient{

background-color: white;
width: 1600px;
height: 1200px;
padding: 180px;

}

.BgClient2{

background-color: #D9D9D9;
width: 1400px;
height: 1100px;
border-radius: 20px;
margin-left: -100px;
}

.DivClients h1{
    color: black;
    text-align: center;
    padding: 50px;
    font-size: 80px;
}



.bgcard{
    background: white;
    width: 384.011px;
    height: 115.874px;
    border-radius: 5px;
    margin-left: 40px

}

.imgcard{

    width: 102.467px;
    height: 88.102px;
    border-radius: 5px;
    background-image: url(../public/coca.png);
    margin-left: 20px;
    position: relative;
    bottom: -10%;  
}

.name{
    color: black;
    text-align: center;
    position: relative;
    bottom: 130px;
    font-size: 40px;
    margin-left: 5px;

}

.addres{
    color: black;
    text-align: center;
    position: relative;
    bottom: 50px;
    font-size: 40px;
    margin-left: 90px;

}




.card2{
padding-top: 10%;


}

.card3{
    padding-top: 10%;
    
    
    }
.card4{
    padding-top: 10%;
margin-left:500px;      
margin-top: -767px;  
    }

.card5{
        padding-top: 10%;
    margin-left:500px;      
    margin-top: 253px;  
        }

.card6{
     padding-top: 10%;
    margin-left:500px;      
    margin-top: -509px;  
            }
.card7{
    padding-top: 10%;
    margin-left: 930px;      
    margin-top: -509px;  
}

.card8{

    padding-top: 10%;
    margin-left:930px;      
    margin-top: 253px;  

}

.card9{
    padding-top: 10%;
    margin-left:930px;      
    margin-top: -510px;  
}

.bgaleria{

background-color: white;
background-color: white;
width: auto;
height: auto;
padding: 180px;
}

.divcard{

    width: 421.404px;
    height: 319.281px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.bg2gal{

    width: 362.713px;
    height: 261.764px;
    flex-shrink: 0;
    background: url(../public/1.jpeg), lightgray 0px -55.757px / 100% 184.753% no-repeat;

}














.bgreportes{
    background-color: white;
    width: 1600px;
    height: 1200px;
    padding: 90px;
}

.bgreportes2{
    background-color: #D9D9D9;
    width: 1300px;
    height: 1000px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: -40px;

}
.namesc h1{
    color: black;
    text-align: center;
}

.reporte{

width: 1254px;
height: 60px;
flex: auto;
background: #FFF;
margin-left: 25px;
}

.textsc{
    display: flex;
    width: 171px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
text-align: center;
font-family: Josefin Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 10px;

}

.lineaxD{
    width: 2px;
height: 42.048px;
margin-left: 200px;
margin-top: -65px;
background-image: url(../public/Line\ 2.png);
}

.fecha{
display: flex;
width: 154px;
height: 34px;
flex-direction: column;
justify-content: center;
color: #000;
text-align: center;
font-family: Josefin Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 8px;
padding-left: 20px;

}

.lineaxD2{
    width: 2px;
height: 42.048px;
margin-left: 200px;
margin-top: -40px;
background-image: url(../public/Line\ 2.png);
}

.namexD{
    display: flex;
    width: 492px;
    height: 34px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 30px;
    padding-top: 5px;
}

.cardrepo{
    margin-top: 80px;

}
.cardrepo2{
    margin-top: 80px;

}
.cardrepo3{
    margin-top: 80px;

}
.cardrepo4{
    margin-top: 80px;

}
.cardrepo5{
    margin-top: 80px;

}



.flecha{
background-image: url(../public/flechaxD.png);
height: 50px;
width: 50px;
margin-left: 1200px;
margin-top: -55px;
}
.flecha2{
    background-image: url(../public/flechaxD.png);
    height: 50px;
    width: 50px;
    margin-left: 1200px;
    margin-top: -55px;
    }

    .footerxD {
        width: 344.997px;
        height: 49.423px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Josefin Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left:50px ;
 }
.footer2xD{
padding-left: 250px;


}
.footer3xD{
    padding-left: 120px;
    }
    .titulo{
padding-top: 50px;
    }
    .contxD{

font-size: 20px;
        
    }


    .phonexD{
width: 20px;
height: 20.329px;
flex-shrink: 0;
    }

    .num{
        font-size: 20px;
    }